Repository Calico-Care/Calico, changes with the labels that .github/labeler.yml gives for each.
All labels: 📱 app, 🎨 ui, 🔧 config, 📝 docs, 🔌 api, 🧪 testing, 🔐 security, 🚀 ci/cd, 📦 dependencies, 🌍 i18n

.github/labeler.yml:

# Auto-label PRs based on files changed

'📱 app':
  - changed-files:
    - any-glob-to-any-file: 'app/**/*'

'🎨 ui':
  - changed-files:
    - any-glob-to-any-file: 'components/**/*'
    - any-glob-to-any-file: 'theme/**/*'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.config.*'
    - any-glob-to-any-file: 'eas.json'

'📝 docs':
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

'🔌 api':
  - changed-files:
    - any-glob-to-any-file: 'api/**/*'

'🧪 testing':
  - changed-files:
    - any-glob-to-any-file: '.maestro/**/*'
    - any-glob-to-any-file: '**/*.test.*'

'🔐 security':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/security.yml'

'🚀 ci/cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'
    - any-glob-to-any-file: '.husky/**/*'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'bun.lock'

'🌍 i18n':
  - changed-files:
    - any-glob-to-any-file: 'locales/**/*'
    - any-glob-to-any-file: 'lib/i18n.ts'

feat(supabase): add initial roles setup script for Calico Edge Functions
  supabase/bootstrap/roles.sql
Labels: none

feat: initialize core database schema
  supabase/migrations/20251021195952_init_core_schema.sql
  supabase/migrations/20251027021802_init_core_schema.sql
  supabase/migrations/20251027025854_add_rls.sql
  supabase/migrations/20251027111916_app_edge_and_ops.sql
Labels: none

feat: add edge function to create a Stytch organization
  supabase/config.toml
  supabase/functions/orgs-create/deno.json
  supabase/functions/orgs-create/index.ts
Labels: none

feat: update database connection handling
  supabase/functions/_shared/db.ts
Labels: none

feat: add MobSF MASVS compliance workflow (#12)
  .github/docker/zap/Dockerfile
  .github/scripts/mobsf_ci.py
  .github/workflows/masvs.yml
  README.md
  bun.lock
  package.json
  requirements.txt
Labels: 🔧 config, 📝 docs, 🚀 ci/cd, 📦 dependencies

Ofeat: implement audit logging with Sentry integration
  .github/workflows/release.yml
  README.md
  app.config.ts
  app.json
  app/_layout.tsx
  app/index.tsx
  bun.lock
  jest.config.js
  package.json
  scripts/logging-demo.ts
  src/logging/__tests__/logger.test.ts
  src/logging/__tests__/redact.test.ts
  src/logging/example-usage.ts
  src/logging/logger.ts
  src/logging/redact.ts
  src/logging/sentry.ts
Labels: 📱 app, 🔧 config, 📝 docs, 🧪 testing, 🚀 ci/cd, 📦 dependencies

Ofeat: implement audit logging with Sentry integration
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

Ofeat: implement audit logging with Sentry integration
  .github/workflows/masvs.yml
Labels: 🚀 ci/cd

feat: implement audit logging with Sentry integration
  .github/workflows/release.yml
  README.md
Labels: 📝 docs, 🚀 ci/cd

feat: implement audit logging with Sentry integration
  app.config.ts
  app.json
  app/_layout.tsx
  app/index.tsx
  bun.lock
  jest.config.js
  package.json
  scripts/logging-demo.ts
  src/logging/__tests__/logger.test.ts
  src/logging/__tests__/redact.test.ts
  src/logging/example-usage.ts
  src/logging/logger.ts
  src/logging/redact.ts
  src/logging/sentry.ts
Labels: 📱 app, 🔧 config, 🧪 testing, 📦 dependencies

feat: add structured logging with Sentry integration (#23)
  .github/workflows/ci.yml
  .github/workflows/eas-build.yml
  .github/workflows/eas-update.yml
  .github/workflows/masvs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
  app/_layout.tsx
  app/index.tsx
  bun.lock
  lib/logger/index.native.ts
  lib/logger/index.ts
  lib/logger/redact.ts
  lib/logger/types.ts
  package.json
Labels: 📱 app, 🔧 config, 📝 docs, 🔐 security, 🚀 ci/cd, 📦 dependencies

feat: add role-based navigation with clinician and patient dashboards (#24)
  app/_layout.tsx
  app/clinician.tsx
  app/index.tsx
  app/patient.tsx
  app/role-selection.tsx
  components/nativewindui/Button.tsx
  components/nativewindui/Icon/types.ts
  lib/i18n.ts
  lib/logger/index.web.ts
  lib/mockData.ts
  lib/polyfills/process.ts
  lib/polyfills/setImmediate.ts
  lib/polyfills/util.ts
  metro.config.js
  tailwind.config.js
  tsconfig.json
  types/inherits.d.ts
  types/polyfills.d.ts
Labels: 📱 app, 🎨 ui, 🔧 config, 🌍 i18n

feat(supabase): initialize core db schema (#25)
  .env.example
  supabase/migrations/20251021195952_init_core_schema.sql
  supabase/migrations/20251024201227_remote_schema.sql
  supabase/migrations/20251029171656_init_core_schema.sql
  supabase/migrations/20251029171807_add_rls.sql
  supabase/migrations/20251029171833_app_edge_and_ops.sql
  supabase/migrations/20251029204646_add-invitations-indexes.sql
  supabase/seed.sql
Labels: none

feat(supabase): add edge function to create a Stytch organization
  supabase/config.toml
  supabase/functions/_shared/db.ts
  supabase/functions/orgs-create/deno.json
  supabase/functions/orgs-create/index.ts
Labels: none

feat: improve accessibility across all app screens (#27)
  app/clinician/index.tsx
  app/index.tsx
  app/patient.tsx
  app/role-selection.tsx
  components/accessibility/LiveRegion.tsx
  components/accessibility/SkipLink.tsx
  components/nativewindui/Button.tsx
  components/nativewindui/Icon/Icon.tsx
  components/nativewindui/Icon/types.ts
  components/nativewindui/Text.tsx
  global.css
  lib/accessibility.ts
  lib/logger/index.web.ts
  lib/polyfills/process.ts
  types/polyfills.d.ts
Labels: 📱 app, 🎨 ui

fix: biome schema update and supabase guardrails fix
  .github/workflows/ci.yml
  biome.json
  bun.lock
  package.json
  supabase/functions/_shared/db.ts
  supabase/functions/orgs-create/index.ts
  tsconfig.json
Labels: 🔧 config, 🚀 ci/cd, 📦 dependencies

Apply suggestions from code review
  biome.json
Labels: 🔧 config

feat(supabase): add edge function to create a Stytch organization (#26)
  .github/workflows/ci.yml
  biome.json
  bun.lock
  package.json
  supabase/config.toml
  supabase/functions/_shared/db.ts
  supabase/functions/orgs-create/deno.json
  supabase/functions/orgs-create/index.ts
  tsconfig.json
Labels: 🔧 config, 🚀 ci/cd, 📦 dependencies

refactor: update UI styling with improved colors and spacing (#28)
  app/clinician/index.tsx
  app/index.tsx
  components/nativewindui/Icon/Icon.ios.tsx
  components/nativewindui/Icon/Icon.tsx
  global.css
  lib/logger/index.web.ts
Labels: 📱 app, 🎨 ui

feat: add Sentry performance tracing configuration (#29)
  .env.example
  README.md
  app/_layout.tsx
  config/env.ts
Labels: 📱 app, 📝 docs

docs: add plan for authentication flow (#30)
  AUTH_FLOW_PLAN.md
Labels: 📝 docs

feat: enhance database connection handling and add Stytch API client (#31)
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/stytch.ts
Labels: none

feat: implement staff invite admin function and add organization retrieval SQL function (#32)
  bun.lock
  package.json
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/stytch.ts
  supabase/functions/orgs-create/index.ts
  supabase/functions/staff-invite-admin/deno.json
  supabase/functions/staff-invite-admin/index.ts
  supabase/migrations/20251103174603_add_admin_get_organization.sql
Labels: 🔧 config, 📦 dependencies

feat: add shared authentication helpers and CORS utilities (#33)
  bun.lock
  package.json
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/auth.md
Labels: 🔧 config, 📦 dependencies

feat: implement auth-verify-consumer function for patient session verification (#34)
  supabase/functions/_shared/stytch.ts
  supabase/functions/auth-verify-consumer/deno.json
  supabase/functions/auth-verify-consumer/index.ts
  supabase/functions/auth.md
Labels: none

feat: implement auth-verify-staff function for staff session verification (#35)
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/stytch.ts
  supabase/functions/auth-verify-consumer/index.ts
  supabase/functions/auth-verify-staff/deno.json
  supabase/functions/auth-verify-staff/index.ts
  supabase/functions/auth.md
Labels: none

feat: implement patient-invite function for clinicians to invite patients (#36)
  supabase/functions/auth.md
  supabase/functions/patient-invite/deno.json
  supabase/functions/patient-invite/index.ts
Labels: none

fix(patient-invite,staff-invite-admin): fix serve() wrapper and SQL parameterization (#41)
  supabase/functions/auth-verify-consumer/index.ts
  supabase/functions/auth.md
Labels: none

fix: improve auth error handling in Stytch session verification (#42)
  supabase/functions/_shared/auth.ts
  supabase/functions/auth-verify-consumer/index.ts
  supabase/functions/auth-verify-staff/index.ts
Labels: none

feat: implement consumer authentication with shared auth utilities (#43)
  supabase/functions/_shared/auth.ts
  supabase/functions/auth-verify-consumer/index.ts
  supabase/functions/auth-verify-staff/index.ts
  supabase/functions/auth.md
  supabase/functions/patient-invite/index.ts
  supabase/migrations/20251103190000_add_invitation_metadata.sql
  supabase/migrations/20251104165237_make_patients_legal_name_dob_nullable.sql
Labels: none

feat: implement staff-invite-clinician function for org admins to invite clinicians (#37)
  supabase/functions/_shared/auth.ts
  supabase/functions/auth.md
  supabase/functions/orgs-create/index.ts
  supabase/functions/staff-invite-clinician/deno.json
  supabase/functions/staff-invite-clinician/index.ts
Labels: none

feat: implement admin-list-invitations function for listing invitations (#38)
  supabase/functions/admin-list-invitations/deno.json
  supabase/functions/admin-list-invitations/index.ts
  supabase/functions/auth.md
Labels: none

feat: implement stytch-sync function for syncing with Stytch (#39)
  bun.lock
  package.json
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/stytch.ts
  supabase/functions/auth.md
  supabase/functions/staff-invite-admin/index.ts
  supabase/functions/stytch-sync/deno.json
  supabase/functions/stytch-sync/index.ts
  supabase/migrations/20251104181810_add_admin_list_organizations.sql
  supabase/migrations/20251104200000_add_admin_update_organization.sql
Labels: 🔧 config, 📦 dependencies

feat: implement stytch-webhooks function for handling Stytch webhooks (#40)
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/stytch.ts
  supabase/functions/auth.md
  supabase/functions/staff-invite-admin/index.ts
  supabase/functions/stytch-webhooks/deno.json
  supabase/functions/stytch-webhooks/index.ts
  supabase/migrations/20251104203054_add_webhook_events_table.sql
Labels: none

refactor: improve database transaction handling with parameterized queries (#44)
  bun.lock
  package.json
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/db.ts
  supabase/functions/patient-invite/index.ts
  supabase/functions/stytch-sync/index.ts
Labels: 🔧 config, 📦 dependencies

fix: add UUID validation to prevent empty string casting errors in patient onboarding (#45)
  .env.example
  .github/workflows/ci.yml
  supabase/config.toml
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/errors.ts
  supabase/functions/_shared/stytch.ts
  supabase/functions/_shared/validators.ts
  supabase/functions/auth-magic-link-b2b/deno.json
  supabase/functions/auth-magic-link-b2b/index.ts
  supabase/functions/auth-magic-link-consumer/deno.json
  supabase/functions/auth-magic-link-consumer/index.ts
  supabase/functions/auth-verify-consumer/index.ts
  supabase/functions/auth-verify-staff/index.ts
  supabase/functions/patient-assign-clinician/deno.json
  supabase/functions/patient-assign-clinician/index.ts
  supabase/functions/patient-invite/index.ts
  supabase/functions/patient-unassign-clinician/deno.json
  supabase/functions/patient-unassign-clinician/index.ts
  supabase/functions/staff-invite-admin/index.ts
  supabase/functions/staff-invite-clinician/index.ts
  supabase/migrations/20251110191402_remote_schema.sql
  supabase/migrations/20251112020444_remote_schema.sql
  supabase/roles.sql
  supabase/seed.sql
Labels: 🚀 ci/cd

feat: create VAPI assistant upon patient creation (#52)
  supabase/functions/_shared/vapi.ts
  supabase/functions/auth-verify-consumer/index.ts
  supabase/migrations/20251111023456_add_vapi_assistant_id_to_patients.sql
Labels: none
