Repository Calico-Care/Calico, changes with the labels that .github/labeler.yml gives for each.
All labels: 📱 app, 🎨 ui, 🔧 config, 📝 docs, 🔌 api, 🧪 testing, 🔐 security, 🚀 ci/cd, 📦 dependencies, 🌍 i18n

.github/labeler.yml:

# Auto-label PRs based on files changed

'📱 app':
  - changed-files:
    - any-glob-to-any-file: 'app/**/*'

'🎨 ui':
  - changed-files:
    - any-glob-to-any-file: 'components/**/*'
    - any-glob-to-any-file: 'theme/**/*'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.config.*'
    - any-glob-to-any-file: 'eas.json'

'📝 docs':
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

'🔌 api':
  - changed-files:
    - any-glob-to-any-file: 'api/**/*'

'🧪 testing':
  - changed-files:
    - any-glob-to-any-file: '.maestro/**/*'
    - any-glob-to-any-file: '**/*.test.*'

'🔐 security':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/security.yml'

'🚀 ci/cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'
    - any-glob-to-any-file: '.husky/**/*'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file: 'package.json'
    - any-glob-to-any-file: 'bun.lock'

'🌍 i18n':
  - changed-files:
    - any-glob-to-any-file: 'locales/**/*'
    - any-glob-to-any-file: 'lib/i18n.ts'

chore: update dependencies and enhance Sentry configuration for HIPAA compliance
  README.md
  app.json
  app/_layout.tsx
  bun.lock
  package.json
Labels: 📱 app, 🔧 config, 📝 docs, 📦 dependencies

docs: update README with new sections on authentication and data access
  README.md
Labels: 📝 docs

feat: initialize db schema in Supabase
  .gitignore
  supabase/config.toml
  supabase/migrations/20251021195952_init_core_schema.sql
Labels: none

chore: initialize Supabase database and update README
  .gitignore
  README.md
  supabase/config.toml
  supabase/migrations/20251021195952_init_core_schema.sql
Labels: 📝 docs

docs: expand README with project proposal and key capabilities
  AGENTS.md
  README.md
Labels: 📝 docs

docs: update AGENTS.md and README for clarity on integrations and UI frameworks
  AGENTS.md
  README.md
Labels: 📝 docs

Updated README.md to include supabase setup
  .env.example
  AGENTS.md
  README.md
Labels: 📝 docs

docs: update environment configuration in .env.example and related documentation
  .env.example
  AGENTS.md
  README.md
  api/client.ts
  config/env.ts
Labels: 📝 docs, 🔌 api

chore: Graphite init
  supabase/migrations/20251024201227_remote_schema.sql
Labels: none

Add activity feed API
  graphite-demo/server.js
Labels: none

chore: remove test.txt (#5)
  test.txt
Labels: none

Updated ci/cd workflow permissions (#4)
  .github/workflows/pr-automation.yml
  AGENTS.md
  README.md
  test.txt
Labels: 📝 docs, 🚀 ci/cd

Initializing Graphite in Repo (#3)
  AGENTS.md
  README.md
Labels: 📝 docs

chore: updated readme w/ graphite commands (#6)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  AGENTS.md
  README.md
Labels: 📝 docs, 🔐 security, 🚀 ci/cd

Create main.yml
  .github/workflows/main.yml
Labels: 🚀 ci/cd

Delete .github/workflows/main.yml
  .github/workflows/main.yml
Labels: 🚀 ci/cd

Add Semgrep CI
  .github/workflows/semgrep.yml
Labels: 🚀 ci/cd

chore: updated gitleaks config to use correct secret
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: stabilize gitleaks CI handling for PR diffs
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: clean up Semgrep/Gitleaks workflow logic and naming
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

feat: implemented new ci/cd and testing actions
  .github/workflows/ci.yml
  .gitignore
  README.md
  __tests__/App.test.tsx
  bun.lock
  jest.config.js
  jest.setup.ts
  package.json
Labels: 🔧 config, 📝 docs, 🧪 testing, 🚀 ci/cd, 📦 dependencies

chore: fix gitleaks action integration and document protection badge
  .github/workflows/ci.yml
  README.md
Labels: 📝 docs, 🚀 ci/cd

chore: stabilize gitleaks CI handling for PR diffs
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: automate Expo dependency upkeep and tighten CI checks
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/expo-deps-check.yml
  README.md
  bun.lock
  package.json
Labels: 🔧 config, 📝 docs, 🚀 ci/cd, 📦 dependencies

fix: expo doctor requires npx to run not bun and changed the Semgrep and Gitleaks SARIF with direct CLI runs
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: harden security scan and runtime smoke jobs
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: clean up Semgrep/Gitleaks workflow logic and naming
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: clean up Semgrep/Gitleaks workflow logic and naming
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: remove inline Semgrep run and rely on Gitleaks only
  .github/workflows/ci.yml
  README.md
Labels: 📝 docs, 🚀 ci/cd

chore: fixed duplicate on ci.yml
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

chore: fixed gitleaks checkout history
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

Apply suggestions from code review
  .github/workflows/ci.yml
  README.md
Labels: 📝 docs, 🚀 ci/cd

chore: cache Bun deps and Android SDK; drop inline Semgrep docs
  .github/workflows/ci.yml
Labels: 🚀 ci/cd

feat: implemented new ci/cd and testing actions (#7)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/expo-deps-check.yml
  .gitignore
  README.md
  __tests__/App.test.tsx
  biome.json
  bun.lock
  jest.config.js
  jest.setup.ts
  package.json
Labels: 🔧 config, 📝 docs, 🧪 testing, 🚀 ci/cd, 📦 dependencies

feat: add OWASP ZAP DAST workflow (#9)
  .github/dependabot.yml
  .github/docker/zap/Dockerfile
  .github/workflows/dast.yml
  README.md
Labels: 📝 docs, 🚀 ci/cd

feat: implement edge function to create a Stytch organization
  supabase/config.toml
  supabase/functions/_shared/db.ts
  supabase/functions/orgs-create/index.ts
Labels: none

feat: update database connection handling
  supabase/functions/_shared/db.ts
Labels: none

feat: initialize core database schema
  supabase/migrations/20251021195952_init_core_schema.sql
  supabase/migrations/20251027021802_init_core_schema.sql
  supabase/migrations/20251027025854_add_rls.sql
Labels: none

feat: add edge function to create a Stytch organization
  supabase/functions/orgs-create/deno.json
  supabase/functions/orgs-create/index.ts
  supabase/migrations/20251027111916_app_edge_and_ops.sql
Labels: none

feat: add initial roles setup script for Calico Edge Functions
  supabase/bootstrap/roles.sql
Labels: none
